<div ng-controller="loginController as crtl" ng-cloak>
    <div layout="row" layout-align="center center" layout-fill class="outer">
        <div layout="column" class="wrapper" flex>
            <br/>
            <md-content class="md-no-momentum">
                <form name="loginForm">
                    <h2>{{ "AUTH_LOGIN_HEADLINE" | translate}}</h2>
                    <md-input-container class="md-block">
                        <label for="inputEmail" translate="">{{"AUTH_LOGIN_EMAIL_LABEL"| translate}}</label>
                        <input type="email" id="inputEmail" name="inputEmail"
                               placeholder="{{'AUTH_LOGIN_EMAIL_LABEL'| translate}}" ng-model="username" autofocus required>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label for="inputPassword">{{"AUTH_LOGIN_PASSWORD_LABEL" | translate}}</label>
                        <input type="password" id="inputPassword" name="inputPassword"
                               ng-model="password" placeholder="{{'AUTH_LOGIN_PASSWORD_LABEL' | translate}}">
                    </md-input-container>
                    <div layout="row">
                        <md-button layout="column"
                                   class="md-raised"
                                   ui-sref="register">{{"AUTH_LOGIN_REGISTER" | translate}}
                        </md-button>

                        <md-button layout="column" flex
                                   class="md-raised md-primary"
                                   ng-click="crtl.login()"
                                   ng-disabled="!loginForm.$valid">{{"AUTH_LOGIN_SIGN_IN" | translate}}
                        </md-button>
                    </div>
                </form>
            </md-content>
        </div>
    </div>
</div>
<style>
    html,
    body {
        width: 100%;
        height: 100%;
    }

    .wrapper {
        max-width: 500px;
    }

    .outer {
        padding: 12px;
    }
</style>