<div ng-controller="registerController as registerCrtl"
     layout="row" layout-align="center center"
     layout-fill class="outer" ng-cloak>
    <div layout="column" class="wrapper" flex>
        <br/>
        <md-content class="md-no-momentum">
            <form class="form-signin" name="register">
                <h2>Register</h2>

                <md-input-container class="md-block">
                    <label for="inputFirstName">First name</label>
                    <input type="text"
                           id="inputFirstName"
                           placeholder="First name"
                           ng-model="firstName"
                           autofocus required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="inputLastName">Last name</label>
                    <input type="text"
                           id="inputLastName"
                           ng-model="lastName"
                           placeholder="Last name"
                           required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label for="inputEmail">Email adress</label>
                    <input type="email"
                           id="inputEmail"
                           placeholder="Email"
                           ng-model="username"
                           required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label for="inputPassword">Password</label>
                    <input type="password"
                           id="inputPassword"
                           placeholder="Password"
                           ng-model="password"
                           required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label for="inputPasswordRepeat">Repeat Password</label>
                    <input type="password"
                           id="inputPasswordRepeat"
                           placeholder="Password"
                           ng-model="passwordRepetition"
                           required>
                    <div ng-hide="passwordError == null">
                        <strong>Error!</strong> {{passwordError}}
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary"
                        ng-disabled="!(register.$valid)"
                        ng-click="registerCrtl.register()">
                    Register
                </md-button>
            </form>
    </div>
</div>
<style>
    html,
    body {
        width: 100%;
        height: 100%;
    }

    .wrapper {
        max-width: 500px;
    }

    .outer {
        padding: 12px;
    }
</style>