<md-content flex layout-padding ng-controller="dashboardController as dashboardCrtl" layout="column" ng-cloak>
    <md-tabs md-dynamic-height flex md-border-bottom>
        <md-tab label="{{ 'DASHBOARD_TITLE_ALL' | translate }}">
            <md-content>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="survey in model.surveys"
                                  ng-click="dashboardCrtl.viewDetails(survey)">
                        <div class="md-list-item-text">
                            <h3>{{survey.title}}</h3>
                            <h4>{{survey.description}}</h4>
                        </div>
                        <md-button class="md-icon-button md-primary"
                                   ng-click="dashboardCrtl.viewDetails(survey)">
                            <i class="material-icons">{{ survey.isOpen() ? "lock_open" : "lock_closed"}}</i>
                        </md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
        <md-tab label="{{'DASHBOARD_TITLE_OWN' | translate }}">
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="survey in model.surveys"
                              ng-click="dashboardCrtl.viewDetails(survey)">
                    <div class="md-list-item-text">
                        <h3>{{survey.title}}</h3>
                        <h4>{{survey.description}}</h4>
                    </div>
                    <md-button class="md-icon-button md-primary"
                               ng-click="dashboardCrtl.viewDetails(survey)">
                        <i class="material-icons">{{ survey.isOpen() ? "lock_open" : "lock_closed"}}</i>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-tab>
        <md-tab label="{{'DASHBOARD_TITLE_OPEN' | translate }}">
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="survey in model.surveys"
                              ng-click="dashboardCrtl.viewDetails(survey)">
                    <div class="md-list-item-text">
                        <h3>{{survey.title}}</h3>
                        <h4>{{survey.description}}</h4>
                    </div>
                    <md-button class="md-icon-button md-primary"
                               ng-click="dashboardCrtl.viewDetails(survey)">
                        <i class="material-icons">{{ survey.isOpen() ? "lock_open" : "lock_closed"}}</i>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-tab>
    </md-tabs>

</md-content>
