<section ng-controller="detailController as detailCrtl">
    <md-content layout-padding>
        <div layout="row">
            <h1>{{survey.title}}</h1>
            <span flex></span>
            <i class="material-icons">
                lock_open
            </i>
            <md-button>Edit</md-button>
            <md-button>Beenden</md-button>
        </div>


        <md-list layout="column" flex>
            <md-list-item class="md-3-line">
                <div style="width: 200px"></div>
                <div ng-repeat="option in options" style="width: 100px">
                    <div layout="row">{{option.dateTime | date: "shortDate"}}</div>
                    <div layout="row">{{option.dateTime | date: "shortTime"}}</div>
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item
                    class="md-2-line"
                    ng-repeat="participation in participations"
                    ng-click="detailCrtl.valueOf()">
                <div style="width: 200px">{{participation.user.username}}</div>
                <div style="width: 100px" ng-repeat="option in options" layout-align="center center"
                     ng-style="{'background': detailCrtl.participates(participation, option) ? '#bdff80': '#edf0ea'}">
                    <i ng-show="detailCrtl.participates(participation, option)" class="material-icons">done</i>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</section>